*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
input{
    outline: none;
}
.clearfix:before,.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.header{
    height: 40px;
    background: #333333;
}
.nav{
    width: 1226px;
    margin: 0 auto;
}
.nav .navL{
    float: left;
}
.nav li{
    float: left;
    font-size: 12px;
    color: #424242;
    margin-right: 5px;
    line-height: 40px;
}
.nav li a{
    color: #b0b0b0;
}
.nav li a:hover{
    color: #ffffff;
}
.nav .navR{
    float: right;
}
.nav .navR ul{
    float: left;
}
.navR .cart{
    position: relative;
    float: left;
    width: 83px;
    height: 40px;
    background: #424242;
    padding: 0 20px 0 17px;
}
.navR .cart:hover{
    background: #ffffff;
}
.navR .cart:hover i{
    color: #ff761a;
}
.navR .cart:hover span{
    background-position: 0 0;
}
.navR .cart i{
    font-size: 12px;
    color: #b0b0b0;
    font-style: normal;
    line-height: 40px;
}
.navR .cart span{
    background: url("../images/icon.png") no-repeat -22px 0;
    display: inline-block;
    width: 20px;
    height: 16px;
    vertical-align: middle;
}
.navR .cart:hover p{
    /*display: block;*/
    height: 98px;
    transition: all .2s;
    z-index: 2;
    /*过渡      �?1）要过渡的css属�?�（all  全部�?
               �?2）过渡效果的经过的时�?
    */
}
.navR .cart p{
    /*display: none;*/
    font-size: 12px;
    color: #4d4d4d;
    width: 316px;
    height: 0;
    overflow: hidden;
    /*溢出隐藏*/
    line-height: 98px;
    text-align: center;
    position: absolute;
    top:40px;
    right: 0;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    z-index: 1;
    background: #ffffff;
}
.container{
    width: 1226px;
    margin: 0 auto;
}
.container h1{
    float: left;
}
.container h1 a{
    background: #ff6700 url("../images/mi-logo.png") center center;
    /*          颜色     图片         位置 左右      上下
                                       正数（右移） 正数（下�?
                                       负数（左移） 负数（上�?
                                                    */
    display: block;
    width: 55px;
    height: 55px;
    margin-top: 22px;
}
.container .gif{
    float: left;
    margin: 15px 0 0 15px;
}
.navList{
    float: left;
}
.container .navList li{
    float: left;
    height: 100px;
    margin-right: 26px;
}
.container .navList li a{
    line-height: 100px;

    font-size: 16px;
    color: #333333;
}
.container .navList li a:hover{
    color:#ff6700;
}
.search{
    position: relative;
    margin-top: 25px;
    float: right;
    width: 296px;
}
.search input[type=text]{
    width: 219px;
    height: 48px;
    border: 1px solid #e0e0e0;
    padding: 0 14px 0 10px;
}
.search input[type=button]{
    width: 50px;
    height: 50px;
    border: 1px solid #e0e0e0;
    background: #ffffff url("../images/icon2_01.png") 0 0 no-repeat;
    vertical-align: middle;
    border-left: 0;
    position: absolute;
    right: 1px;
    top:0
}
.search input[type=button]:hover{
    background: #ff6700 url("../images/icon2_01.png") -55px -3px no-repeat;

}
.search p{
    position: absolute;
    top: 16px;
    left: 112px;
}
.search a{
    display: inline-block;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    color: #ffffff;
    background: #747272;
    padding: 0 5px;
}
.search a:hover{
    background: #ff6700;
    color:#ffffff ;
}

.search input[type=text]:focus{
    border: 1px solid #ff6700;
}
.search input[type=text]:focus + input[type=button]{
    border: 1px solid #ff6700;
    border-left: 0;
}
.search input[type=text]:focus{
    position: absolute;
    z-index: 1;
    background: #ffffff;
}

.navList li .navHide{
    position: absolute;
    top:140px;
    left: 0;
    height:0;
    z-index: 1;
    overflow: hidden;
    background: #ffffff;
    width: 100%;
}
.navList li:hover .navHide{
    height: 229px;
    border-top:1px solid #e0e0e0 ;
    box-shadow: 0 3px 2px rgba(0,0,0,.15);
    /*         左右 上下 扩散范围  颜色

                左（-�?  �?
                上（-�?  �?
    */
    transition: height .3s;
    background: #ffffff;
    /*     all �?有的属�?�有过渡的效�?
           height   只有高度有过度的效果
    */
}
.hideBox{
    width: 1226px;
    margin: 0 auto;
}
.hideBox ul{
    padding-top: 35px;
}
.hideBox ul li{
    float: left;
    text-align: center;
    position: relative;
    width: 205px;
}
.hideBox ul img{
    width: 160px;
    height: 110px;

}
.hideBox ul li h4{
    padding: 20px 0 6px 0;
    font-size: 12px;
    color: #404040;
    font-weight: normal;
}
.hideBox ul li p{
    font-size: 12px;
    color: #ff781d;
}
.hideBox ul li i{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100px;
    background: #e0e0e0;
}
.banner{
    width: 1226px;
    margin: 0 auto;
}
.bannerImg{
    position: relative;
    background: url("../images/bannerpic.jpg") no-repeat;
    width:100%;
    height: 460px;
}
.bannerNav{
    width: 234px;
    background: #645742;
    height: 440px;
    padding:20px 0 0 0;
}
.bannerNav ul .listN {
    position: relative;
    font-size: 12px;
    color: #ffffff;
    height: 42px;
    padding-left: 30px;
    line-height: 42px;
    cursor: pointer;
}
.bannerNav ul .listN:hover{
    background: #ff6700;
}
.bannerNav ul .listN:hover .bannerHide{
    display: block;
}
.bannerNav ul .listN span{
    position: absolute;
    right: 24px;
    top:0;
}
.bannerHide{
    position: absolute;
    top:-20px;
    left: 234px;
    display: none;
    height: 436px;
    width: 765px;
    background: #ffffff;
    padding: 24px 0 0 30px;
    border: 1px solid #e0e0e0;
    border-left: 1px solid transparent;
}
.bannerHide ul{
    float: left;
    margin-right: 15px;
}
.bannerHide li{
    margin-bottom: 33px;
}
.bannerHide li img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
.bannerHide li .phone{
    font-size: 12px;
    color: #333333;
    padding: 0 58px 0 10px;
}
.bannerHide li .phone:hover{
    color: #ff6700;
}
.bannerHide li .buy{
    display: inline-block;
    text-align: center;
    width: 58px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #ff6700;
    color: #ff6700;
}
.bannerHide li .buy:hover{
    color: #ffffff;
    background: #ff6700;
}
.bannerImg .btnL,.bannerImg .btnR{
    width: 41px;
    height: 69px;
    background: url("../images/icon-slides.png") no-repeat;
    position: absolute;
    top:195px;
}
.bannerImg .btnL{
    background-position: -83px 0;
    left: 234px;
}
.bannerImg .btnR{
    background-position:-125px 0;
    left: 1180px;
}
.bannerImg .btnL:hover{
    background-position: 0 0;
}
.bannerImg .btnR:hover{
    background-position: -42px 0;
}
.point{
    position: absolute;
    right: 35px;
    bottom: 25px;
}
.point i{
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #978365;
    border: 2px solid #b6a892;
    border-radius: 50%;
    margin-right: 10px;
}
.point i:hover{
    background: rgba(0,0,0,.1);
    cursor: pointer;
}
.product{
    width: 1226px;
    margin: 0 auto;
    margin-top:14px;
}
.product .proL{
    float: left;
    width: 234px;
    height: 170px;
    background: #5f5750;
}
.proL ul li{
    float: left;
    width: 76px;
    height: 82px;
    position: relative;
    text-align: center;
    cursor: pointer;
}
.proL ul li:hover span{
    background-position: -25px 0;
}
.proL ul li:hover a{
    color: #ffffff;
}
.proL ul li i{
    width: 64px;
    height: 1px;
    background: #000000;
    position: absolute;
    left: 6px;
    top: 0;
}
.proL ul li b{
    height: 70px;
    width: 1px;
    background:#000000;
    position: absolute;
    left:0;
    top: 6px;
}
.proL ul li .top{
    display: none;
}
.proL ul li .left{
    display: none;
}
.proL ul li span{
    width: 20px;
    height: 20px;
    display: block;
    background: url("../images/icon3.png") no-repeat;
    margin:24px 0 6px 31px;
}
.proL ul li a{
    font-size: 12px;
    color: #cdcac8;
}
.product .proR a img{
    float: left;
    margin-left: 14px;
    width: 316px;
    height: 170px;
}
.product .proR a:hover img{
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
}
.star-product{
    position: relative;
    width: 1226px;
    margin:0 auto;
    margin-top: 40px;
}
.star-product h3{
    font-size: 22px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 19px;
}
.star-product ul li{
    float: left;
    width: 234px;
    height: 325px;
    background: #fafafa;
    padding-top: 14px;
    text-align: center;
    margin-right: 14px;
    border-top: 1px solid #ffac13   ;
}
.star-product  ul .noMargin{
    border-top:1px solid #00c0a5;
    margin-right: 0;
}
.star-product ul li img{
    width: 160px;
    height: 160px;
    cursor: pointer;
}
.star-product ul li a{
    display: block;
    padding: 31px 0 9px 0;
    font-size: 14px;
    color: #212121;
}
.star-product ul li p{
    font-size: 12px;
    color: #b0b0b0;
    padding-bottom: 14px;
}
.star-product ul li i{
    font-style: normal;
    font-size: 12px;
    color: #ff6709;
}
.star-product ul .gre{
    border-top: 1px solid #83c44e;
}
.star-product ul .blu{
    border-top: 1px solid #2196f3;
}
.star-product ul .red{
    border-top: 1px solid #e53935;
}
.star-product .nextL,.star-product .nextR{
    position: absolute;
    top:6px;
    font-weight: bold;
    text-align: center;
    line-height:22px;
    color:#b0b0b0;
    width: 34px;
    height: 22px;
    border:1px solid #e0e0e0;
    cursor:pointer;
}
.star-product .nextL{
    right: 35px;
}
.star-product .nextR{
    right: 0;
}
.star-product .nextL:hover,.star-product .nextR:hover{
    color: #ff6700;
}
.content{
    margin-top:40px;
    background: #f5f5f5;
}
.hardwareCon{
    position: relative;
    width: 1226px;
    margin: 0 auto;
    padding-top:76px;
}
.hardwareCon .title{
    color:#333333;
    font-size: 22px;
    margin-bottom: 19px;
    font-weight: 200;
}
.hardwareCon .hardwareConL{
    float: left;
    width: 234px;
    height: 614px;
    position: relative;
}
.hardwareCon .hardwareConL:hover{
    box-shadow:0 5px 10px rgba(0,0,0,.3);
    top: -2px;
    transition:all .3s;
}
.hardwareCon .hardwareConR{
    float:left;
    width: 992px;
}
.hardwareCon .hardwareConR ul{
    float: left;
}
.hardwareConR ul li{
    position: relative;
    float: left;
    height: 253px;
    margin-left:14px;
    padding:20px 15px 27px 15px;
    text-align: center;
    background: #ffffff;
    margin-bottom: 14px;
}
.hardwareConR ul li:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.2);
    top:-3px;
    transition:all .5s;
}
.hardwareConR ul li img{
    width: 160px;
    height: 160px;
    cursor: pointer;
}
.hardwareConR ul li h5{
    margin-top:20px;
    font-size:14px;
    color:#333333;
    font-weight: normal;
}
.hardwareConR ul li p{
    width:204px;
    text-align: center;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    color: #b0b0b0;
}
.hardwareConR ul li i{
    display: block;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    color: #ff6700;
    font-style:normal;
}
.hardwareConR ul li s{
    position: absolute;
    top:0;
    right: 85px;
    display: inline-block;
    width: 64px;
    height: 20px;
    font-size: 12px;
    color: #ffffff;
    line-height: 20px;
    text-align: center;
    background: #83c44e;
}
.hardwareCon .newPro,.vedio .vedioM{
    font-size: 16px;
    color: #424242;
    position: absolute;
    right: 0px;
    top:76px;
}
.hardwareCon .newPro span,.vedio .vedioM span{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    color: #ffffff;
    background: #b0b0b0;
}
.vedio .vedioM{
    position: absolute;
    right: 0;
    top: 0;
}
.hardwareCon .newPro:hover,.vedio .vedioM:hover{
    color: #ff6700;
    transition: color .5s;
}
.hardwareCon .newPro:hover span,.vedio .vedioM:hover span{
    background: #ff6700;
    transition: background .5s;
}
.content .assort{
    width: 1226px;
    margin: 0 auto;
    margin-top:25px;
}
.assort .assortTitle{
    margin-bottom: 5px;
}
.assort .assortTitle h5{
    float: left;
    font-size: 22px;
    color: #333333;
    font-weight: 200;
}
.assort .assortlist{
    float: right;
}
.assort .assortTitle .assortlist a{
    float: left;
    font-size:16px;
    color: #424242;
    margin-left: 30px;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}
.assort .assortTitle a:hover{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.assort .assortL{
    float: left;
    width: 234px;
}
.assortL img{
    display: block;
    width: 234px;
    height: 300px;
    margin-top:14px;
    position: relative;
}
.assortL img:hover{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    top:-2px;
    transition: all,.3s;
}
.assort .assortR{
    float: left;
    width: 992px;
}
.assortR ul li{
    float: left;
    position: relative;
    width: 234px;
    height: 266px;
    background: #ffffff;
    margin-top:14px;
    margin-left: 14px;
    padding-top:34px;
    text-align: center;
}
.assortR ul li img{
    width: 150px;
    height: 150px;
    cursor:pointer;
}
.assortR ul li a{
    display: block;
    margin-top:20px;
    font-size:12px;
    color:#333333;
}
.assortR ul li p{
    color: #ff6700;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
}
.assortR ul li s{
    color: #b0b0b0;
}
.assortR ul li i{
    font-style: normal;
    font-size: 12px;
    margin-top: 9px;
    color:#b0b0b0
}
.assortR ul li .discount{
    position: absolute;
    font-size: 12px;
    right: 85px;
    top:0;
    display: block;
    color: #ffffff;
    background: #e53935;
    text-align: center;
    width: 64px;
    height: 20px;
    line-height: 20px;
}
.assortR ul li .hideCon{
    position: absolute;
    bottom:0;
    left: 0;
    width: 172px;
    height: 0;
    background: #ff6700;
    padding:0 33px 0 29px;
    overflow: hidden;
    cursor:pointer;

}
.assortR ul li .hideCon  .discountDetail{
    display: block;
    padding-top: 8px;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
}
.assortR ul li .hideCon .source{
    display: block;
    font-size: 12px;
    color: #ffc299;
}
.assortR ul li:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    top:-2px;
}
.assortR ul li:hover .hideCon{
    height: 74px;
    transition:.5s;
}
.assortR ul .other{
    background: #f5f5f5;
    width: 234px;
    height: 266px;
    padding-top: 0;
}
.assortR ul .other:hover{
    box-shadow: 0 0 0 rgba(0,0,0,1);
    top:0;
}
.assortR ul .otherPro,.assortR ul .otherMore{
    width: 234px;
    height: 143px;
    background: #ffffff;
    position: relative;
}
.assortR ul .otherPro{
    margin-bottom: 14px;
}
.otherPro .proLeft,.otherMore .moreLeft{
    float: left;
    padding:44px 20px 61px 30px;
    text-align: center;
}
.otherMore .moreLeft{
    text-align: left;
}
.otherPro .proLeft p{
    font-size: 12px;
    color: #333333;
    margin-bottom: 10px;
    cursor:pointer;
}
.otherPro .proLeft i{
    display: block;
    font-size: 12px;
    color: #ff6700;
}
.otherPro .proRight img{
    float: left;
    width: 80px;
    height: 80px;
    padding-top:32px;
}
.otherMore .moreLeft p{
    color: #333333;
    font-size: 18px;
}
.otherMore .moreRight img{
    float: left;
    padding: 48px 16px 16px;
    width: 48px;
    height: 48px;
}
.assortR ul .otherPro:hover,.assortR ul .otherMore:hover{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    top:-2px;
}
.content .recommend{
    width: 1226px;
    margin:35px auto 0 auto;
}
.content .recommend h5{
    float: left;
    font-size:22px;
    color:#333387;
    font-style:normal;
    font-weight:200;
}
.content .recommend span{
    float: right;
    width: 34px;
    height: 22px;
    border:1px solid #e0e0e0;
    font-weight:bold;
    color: #b0b0b0;
    line-height: 22px;
    text-align: center;
}
.content .recommend span:hover{
    color: #ff6700;
    cursor:pointer;
}
.content .recommend ul{
    margin-top:19px;
}
.content .recommend ul li{
    position: relative;
    float: left;
    background: #ffffff;
    width: 234px;
    height: 300px;
    text-align: center;
    margin-right: 14px;
}
.content .recommend ul li div{
    position: relative;
}
.content .recommend ul li:hover div{
    top:-3px;
    transition:all,3s;
}
.content .recommend ul .last{
    margin-right:0;
}
.content .recommend ul li img{
    display: block;
    width: 140px;
    height: 140px;
    padding: 40px 47px 0 47px;
}
.content .recommend ul li a{
    display: block;
    margin: 24px 0 14px;
    font-size:12px;
    color:#333333;
}
.content .recommend ul li i{
    display: block;
    color: #ff6700;
    font-size:12px;
    font-style:normal;
}
.content .recommend ul li s{
    margin-top: 10px;
    display: block;
    font-size: 12px;
    color: #757575;
    text-decoration:none;
}
.content .forwardest,.content .substance,.content .vedio{
    margin:40px auto 0;
    width: 1226px;
}
.content .vedio{
    position: relative;
}
.forwardest h5,.content .substance h5,.vedio h5{
    font-size: 22px;
    color:#333333;
    font-weight:200;
}
.forwardest ul,.substance ul,.vedio ul{
    margin-top:18px;
}
.forwardest ul li,.substance ul li{
    position: relative;
    float: left;
    width: 296px;
    height: 415px;
    background: #ffffff;
    text-align: center;
    margin-right: 14px;
}
.forwardest ul li:hover{
   top:-2px;
    box-shadow:0 10px 10px rgba(0,0,0,.2);
    transition:all 0.3s;
}
.forwardest ul .forwardestLast,.substance .substanceLst{
    margin-right:0;
}
.forwardest ul li img{
    display: block;
    width: 296px;
    height: 220px;
}
.forwardest ul li a{
    display: block;
    padding:29px 26px 0 26px;
    font-size: 14px;
    line-height: 24px;
    color:#333333;
    text-align: left;
}
.forwardest ul li .from{
    padding:25px 0 0 26px;
    color: #b0b0b0;
    font-size:12px;
    text-align: left;
}
.forwardest ul li .name{
    padding:12px 0 0 26px;
}
.forwardest ul li .name a{
    padding: 0;
    float: left;
    font-size:12px;
    color:#333333;
}
.forwardest ul li .name s{
    float: left;
    font-style:normal;
    color: #e0e0e0;
    line-height: 24px;
}
.forwardest ul li .name i{
    float: left;
    font-size: 12px;
    color: #ff6700;
    font-style: normal;
    line-height: 24px;
}
.substance ul li{
    border-top:1px solid #ffac13;
}
.substance ul li h6{
    padding-top: 50px;
    font-size: 16px;
    color: #ffac13;
}
.substance ul li a{
    display: block;
    padding-top: 25px;
    font-size: 18px;
    color:#333333;
}
.substance ul li p{
    padding: 8px 54px 0 54px;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    color:#b0b0b0;
    cursor: pointer;
}
.substance ul li i{
    display: block;
    line-height: 40px;
    font-size: 12px;
    color: #333333;
    font-style: normal;
    cursor: pointer;
}
.substance ul li img{
    cursor:pointer;
    width: 216px;
    height: 154px;
    padding: 0 40px;
}
.substance ul li div{
    padding: 27px 0 0 30px;
}
.substance ul li div .first{
    background: #ffffff;
    border: 2px solid #ff6700;
    border-radius:50%;

}
.substance ul li div span{
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #b0b0b0;
    border-radius:50%;
    margin-right:24px;
    vertical-align: middle;
    cursor: pointer;
}
.substance ul li div span:hover{
    background: #ff6700;
}
.substance ul li div .first:hover{
    background: #ffffff;
}
.substance ul li .substanceL,.substance ul li .substanceR{
    position: absolute;
    top:190px;
    width:20px;
    height:48px;
    background: #d9d9d9;
    line-height: 48px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}
.substance ul li .substanceL{
    left:0;
}
.substance ul li .substanceR{
    right:0;
}
.substance ul li s{
    display: none;
    cursor: pointer;
}
.substance ul li:hover s{
    display: block;
}
.substance ul li s:hover{
    background: #8d8d8d;
}
.substance ul li:hover{
    top:-2px;
    box-shadow:0 5px 10px rgba(0,0,0,.2);
    transition: all .3s;
}
.content .vedio{
    padding-bottom: 60px;
}
.vedio ul li{
    position: relative;
    float: left;
    width: 296px;
    height: 285px;
    background: #ffffff;
    text-align: center;
    margin-right: 14px;
}
.vedio ul li:hover{
    top:-2px;
    box-shadow:0 5px 10px rgba(0,0,0,.2);
    transition: .3s;
}
.vedio ul .vedioLast{
    margin-right: 0;
}
.vedio ul li .thumb img{
    display: block;
    width: 296px;
    height: 180px;
}
.vedio ul li .detail{
    display: block;
    padding-top: 30px;
    font-size: 12px;
    color:#333333;
}
.vedio ul li p{
    padding-top: 10px;
    font-size: 12px;
    color:#b0b0b0;
}
.vedio ul li a span{
    position: absolute;
    top:148px;
    left:22px;
    padding: 4px 12px;
    width: 8px;
    height: 12px;
    border-radius: 10px;
    /*background-color:;*/
    text-align: center;
    background: url("../images/vedioPic.png") no-repeat  #636363;
    background-position: 12px 3px;
}
.vedio ul li a:hover span{
    background: url("../images/vedioPic.png") no-repeat  #ff6700;
    background-position: 12px 3px;
}

.foot{
    width: 1226px;
    margin: 30px auto 0;
}
.service ul{
    list-style: none;
    margin-right: 2px;
}
.service ul li{
    float: left;
    text-align: center;
    color: #e0e0e0;
    width: 242px;
    border-right: 1px solid #e0e0e0;
    overflow: hidden;
}
.service ul .icon1:hover span{
    background-position: 0 -28px;
}
.service ul li:hover a{
    color: #ff6700;
}
.service ul li a{
    text-decoration: none;
    font-size: 16px;
    color:#616161;
}
.service ul .icon1 span,.service ul .icon2 span,.service ul .icon3 span,.service ul .icon4 span,.service ul .icon5 span{
    display: inline-block;
    vertical-align: middle;
    background: url("../images/miicon.png") no-repeat;
    width: 24px;
    height: 23px;
}
.service ul .icon2 span{
    background-position: -28px 0;
}
.service ul .icon2:hover span{
    background-position: -28px -28px;
}
.service ul .icon3 span{
    background-position: -56px -2px;
}
.service ul .icon3:hover span{
    background-position: -56px -28px;
}
.service ul .icon4 span{
    background-position: -83px 0;
}
.service ul .icon4:hover span{
    background-position: -83px -28px;
}

.service ul .icon5 span{
    background-position: -104px 0;
}
.service ul .icon5:hover span{
    background-position: -104px -28px;
}
.foot .line{
    margin:27px 0 18px 0;
    border: 1px solid #e0e0e0;
}
/*.container{*/
/*height: 176px;*/
/*}*/
.footlist{
    float: left;
}
.footlist dl{
    float:left;
    margin-right: 104px;
}
.footlist dl dt{
    font-size: 14px;
    color:#424242;
    line-height: 62px;
}
.footlist dl dd a{
    text-decoration: none;
    font-size: 12px;
    color: #757575;
    line-height: 28px;
}
.footlist dl dd a:hover{
    color: #ff6700;
}
.contact{
    float: right;
    margin-top: 27px;
    border-left:1px solid #e0e0e0;
    padding-left: 59px;
    height: 112px;
    width:192px;
}
.contact .phone{
    color: #ff6700;
    font-size: 22px;
}
.contact .worktime{
    margin-top: 6px;
    width: 125px;
    font-size: 12px;
    color: #616161;
    line-height: 18px;
    text-align: center;
}
.contact span{
    display: inline-block;
    background: url("../images/miicon.png") no-repeat;
    background-position: -130px -2px;
    height: 10px;
    width: 10px;
    vertical-align: middle;
}
.contact a{
    border: 1px solid #ff6700;
    display: block;
    margin-top: 16px;
    padding-left: 9px;
    height: 28px;
    width: 118px;
    line-height: 28px;
    text-decoration: none;
    font-size: 12px;
    color: #ff6700;
}
.contact a:hover span{
    background-position: -129px -29px;
}
.contact a:hover{
    background:#ff6700;
    color: white;
}
.mifooter {
    margin-top: 40px;
    padding-top: 34px;
    background-color: #fafafa;
}
.mifooter .about{
    position: relative;
    float: left;
    margin-left: 70px;
}
.mifooter .about .mi{
    float: left;
    width: 56px;
    height: 56px;
    background: url("../images/mi-logo.png") no-repeat;
    background-position: center center;
    background-color:  #ff6709;
}
.description{
    float:left;
    margin-left: 4px;
    width: 736px;
}
.description > a{
    float: left;
    text-decoration: none;
    padding: 0 2px 0 2px;
    color: #757575;
    font-size: 12px;
    margin-bottom: 4px;
}
.description .dis{
    padding-top: 2px;
}
.description span{
    float: left;
    height: 15px;
    overflow: hidden;
    color: #757575;
}
.description a:hover{
    color:#ff6709;
}
.description p{
    margin-left: 4px;
    margin-bottom: 4px;
    font-size: 12px;
    color: #b0b0b0;
}
.description p a{
    color: #b0b0b0;
}
.otherPic{
    position: absolute;
    top: 0;
    right:-418px;
    /*float: right;*/
    margin-left: 55px;
    width: 400px;
}
.otherPic a img {
    float: left;
    width: 83px;
    height: 29px;
    margin-right: 14px;
}
.mifooter > img{
    display: block;
    margin:34px auto 0 auto;
    padding-bottom: 20px;
    width: 280px;
    height: 25px;
}

